@model LanguageCreateRequest
@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Create Language</h1>
        <a href="@Url.Action("Index", "Language")" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            Back to List
        </a>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form class="user" asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="nameInput">Name</label>
                    <input asp-for="Name" class="form-control" id="nameInput" placeholder="Enter Name here..">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label for="imageInput">Image</label>
                    <input asp-for="FlagPhoto" class="form-control-file" id="imageInput" onchange="previewImage(event)">
                    <span class="text-danger" asp-validation-for="FlagPhoto"></span>
                </div>
                <div class="form-group">
                    <img id="imagePreview" alt="Image Preview" style="max-width: 100%; height: auto; display: none;" />
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <button class="btn btn-primary" type="submit">
                    Create Language
                </button>
            </form>
        </div>
    </div>
</div>

@section scripts {
    @Html.Partial("_ValidationScriptsPartial");
}
